name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
      - name: Format
        run: cargo fmt --check
      - name: Check
        run: cargo check --workspace
      - name: Test
        run: cargo test
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
      - name: Clippy
        run: cargo clippy --workspace --tests -- -D warnings
  test-python:
    name: Test Python
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Lint
        run: |
          uv run mypy python
          uv run ruff check
          uv run ruff format --check
      - name: Test
        run: uv run pytest
      - name: CLI smoke test
        run: uv run cql2 < examples/text/example01.txt
  test-wasm:
    name: WASM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0
        with:
          version: "latest"
      - name: Build WASM for docs (web target)
        run: scripts/buildwasm
      - name: Test WASM for Node.js
        run: wasm-pack test --node wasm
      - name: Build WASM for Node.js
        run: wasm-pack build --target nodejs wasm
      - name: Build WASM for web (browser) target
        run: wasm-pack build --target web wasm
      # TODO: these don't currently work
      # - name: Test WASM for web (browser) target
      #   run: wasm-pack test --firefox --headless wasm
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Test WASM via JavaScript integration tests
        run: npm --prefix wasm test
